# Byte-compiled / optimized / DLL files
**/__pycache__/
*.py[cod]
docs/build/
poetry.lock

htmlcov
.coverage
coverage.xml
cov.xml
.pytest_cache

./grainLearning/rnn/data/
./grainLearning/rnn/outputs/
./grainLearning/rnn/wandb/

tutorials/rnn/.ipynb_checkpoints/

# Mac
.DS_Store

